body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
}



.container-fluid {
    padding: 6% 15% 17%;
    
}


.download-button {
    margin: 5% 3% 3% 0;
}

.first-picture {
    transform: rotate(25deg);
    height: 800px;
    position:absolute;
}
/* features */

.features{
    background: white;
    padding: 20% 20% 15%;
    position: relative;
    z-index: 1;
}
.features-paragraph {
    text-align: center;
}


.features-hedding {
    text-align: center;

    font-family: 'Montserrat-bold';

    font-size: 1.5rem;

    font-weight: 1.5rem;
}

.col {
    margin-bottom: 100px;
}

/* testimonials */

#testimonials {
    text-align: center;

    background-color: #ff4c68;

    color: #fff;
}



.carousel-item {
    padding: 18% 15% 7% 15%;
}

/* Press  */

#press {
    background-color: #ff4c68;

    text-align: center;

    padding-bottom: 3%;
}

.press-logo {
    width: 15%;

    margin: 20px 20px 50px;
}

/* pricing */
.pricing-text {
    text-align: center;
}

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;

    text-align: center;
}

.pricing-test {
    text-align: center;
}

#cta {
    background-color: black;

    padding: 30px;

    color: #fff;

    text-align: center;
}

#footer {
    background-color: black;

    padding: 10px;

    color: #fff;

    text-align: center;
}
.cta-download-button{
    margin: 3% 20px;
}

/* End of Pricing page */

@media (max-width: 1028px){
    .first-page{
        text-align: center;
    }
    .first-picture{
        position: static;
        transform: rotate(0)
    }
}


/* All the header classes in this section */
.first-h1 {
    font-family: 'Montserrat ', sans-serif;

    color: aliceblue;

    font-size: 3.5rem;

    font-weight: 900;

    line-height: 1.5;

}

h2 {
    font-family: 'Anton';

    font-size: 4.5rem;

    line-height: 1.5;
}

/* End of the header class section */



/* All the stayled pictures in this section */
.testimonial-image {
    width: 10%;

    margin: 40px;

    border-radius: 100px;
}


/* End of stayled Pictures section*/



/* All the navbar classses */
.navbar-brand {
    font-size: 2.5rem;

    font-weight: bold;

    font-family: "Ubuntu";
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;

    font-family: "Montserrat-light";

}


.navbar {
    padding: 0 0 4.5rem;

}


/* End of Navbar classes */



/* All the  fonts including font-awsome*/
.font-awesome {
    height: 55px;

    width: 100%;

    font-size: 4.2rem;

    color: #ef8172;

    margin-bottom: 1.4rem;

    text-align: center;
}

.font-awesome:hover {
    color: #ff4c68;
}

/* End of the font section */